@charset "ISO-8859-1";

legend {
font-size: 125%;
padding-left: 1em;
padding-right: 1em;
background: #09C;
color: #fff; }

form {
width:500px;
margin:auto;
background-color: #dddddd;
font-family: Calibri, Ariel, sans-serif;
font-size: 16px;
font-style: italic;
font-weight: bold;
color: #09C;
border-radius: 10px;
padding: 8px;
border: 1px solid #999;
border: inset 1px solid #333;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); }
tr, td {
padding: 10px;
}
input {
  float: right;
}
button {
border-radius: 15px;
}
label {
display: block;
margin-top: 16px;
}
.radio label, .radio input {
display: inline;
}